version: '3.9'

services:
  redis:
    image: redis:7-alpine
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    networks:
      - app-network

  micro-ia:
    image: andresdom2004/micro_ia_image_recognition:latest
    container_name: micro_ia
    restart: always
    env_file:
      - .env
    volumes:
      - ./features:/app/features
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_URL=redis://redis:6379
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx_ssl
    restart: always
    ports:
      - "8080:80"   # HTTP redirect to HTTPS
      - "8443:443" # SSL endpoint
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./ssl:/etc/nginx/ssl
    depends_on:
      - micro-ia
    networks:
      - app-network

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=360
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  redis_data: